@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #DCA61F;
  --color-primary-dark: #C28F13;
  --color-bg-app: #121212;
  --color-bg-card: #181818;
  --color-text-main: #FFFFFF;
  --color-text-secondary: #A3A3A3;
  --color-border: #2A2A2A;
}

body {
  background-color: var(--color-bg-app);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
}
