@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #C5A059;
  --color-primary-dark: #A68545;
  --color-bg-app: #0F0F0F;
  --color-bg-card: #1A1A1A;
  --color-text-main: #FAFAFA;
  --color-text-secondary: #A1A1AA;
  --color-border: #262626;
}
